@import '../../styles/variables.scss';

.button {
  color: white;
  padding: $spacing-8 $spacing-12;
  width: 100%;
  font-size: 0.9rem;
  border-radius: $spacing-8;

  &:hover {
    cursor: pointer;
  }
}

.add {
  background: $green;
}

.remove {
  background: $orange-variant1;
}
