@import '../../styles/variables.scss';

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  overflow: hidden;

  &__items {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    gap: $spacing-54;

    padding: 1rem;
    height: calc(100vh - 230px);
    overflow: auto;

    @media screen and (max-width: $medium) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: $spacing-20;
    }

    &__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: $spacing-20;
      padding: 1rem;
    }
  }

  &__loader {
    align-self: center;
    justify-self: center;
    color: $dark-grey !important;
  }
}
