@import '../../styles/variables.scss';

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;

  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $spacing-54;
    padding: 1rem;

    &__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: $spacing-20;
      padding: 1rem;
    }
  }

  &__loader {
    align-self: center;
    justify-self: center;
    color: $dark-grey !important;
  }
}
