@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $spacing-54;
  padding: 1rem;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-20;
  padding: 1rem;
}
