@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.card {
  @include displayFlex(nowrap, center, center, column);
  height: 400px;
  width: 300px;
  gap: $spacing-20;
  border: $spacing-1 solid $grey;
  border-radius: $spacing-8;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    @include displayFlex(nowrap, center);

    &__close {
      background: none;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      color: $dark-grey;
      padding: $spacing-2;
      height: $spacing-22;
      width: $spacing-22;
      @include displayFlex(nowrap, center, center);
      border-radius: 50%;
      border: 2px solid $dark-grey;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s, visibility 0.4s;
    }

    &__el {
      height: 200px;
      width: 200px;
      object-fit: contain;
    }

    &__rating {
      position: absolute;
      right: 0;
      top: 0;
      @include displayFlex(nowrap, space-between, center);
      gap: $spacing-4;
      background: black;
      padding: 0.5rem 0.8rem 0.5rem 1rem;
      border-radius: $spacing-8;

      &__text {
        font-size: 0.8rem;
        text-align: center;
        margin: 0;
        color: white;
      }

      &__icon {
        font-size: 1rem !important;
        padding: 0;
        color: $orange;
      }
    }
  }

  &__title {
    min-height: $spacing-54;
    position: relative;

    &__text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      text-overflow: clip;
      padding: 0 0 (-$spacing-4) 0;
    }

    &::before {
      content: '';
      width: $spacing-20;
      height: $spacing-2;
      background-color: $orange;
      display: flex;
      position: absolute;
      left: calc(50% - $spacing-10);
      bottom: 0;
    }
  }

  &__price {
    &__currency {
      font-size: 0.65rem;
      margin: 0 $spacing-4 0 0;
      color: $green;
    }

    &__int {
      font-size: 1.2rem;
      font-weight: bold;
    }

    &__dec {
      font-size: 0.8rem;
    }
  }
}

.selected {
  border-color: $orange;

  &::before {
    content: '';
    position: absolute;
    inset: -300%;
    border-radius: $spacing-8;
    background: linear-gradient(
      to bottom,
      $orange,
      rgba(255, 255, 255, 0.5) 50%,
      $orange
    );
    animation: shine 1s forwards;
    z-index: -1;
  }

  &:hover {
    .card__image__close {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes shine {
  0% {
    background-color: $white;
    transform: rotateZ(0deg) translate(-5em, 7.5em);
  }

  100% {
    background-color: $orange;
    transform: rotateZ(360deg) translate(-5em, 7.5em);
  }
}
