@import '../../styles/variables.scss';

.cart {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: auto;
  // grid-template-areas:
  //   'header header header header'
  //   'main main . sidebar'
  //   'footer footer footer footer';
}

.form {
  background-color: $white;
  padding: $spacing-20;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-12;
  width: 600px;
  height: 300px;
  max-width: 100%;
  border-radius: $spacing-8;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  &__title {
    font-size: $fs-1;
  }

  &__input {
    width: 99%;

    &__item {
      width: 99%;
    }
  }
}
