@import '../../styles/variables.scss';

.cart {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  background-color: $white;
  gap: $spacing-20;
  max-width: 1280px;
  width: 50%;
  padding: 1rem;
  border-radius: $spacing-8;

  @media screen and (max-width: $medium) {
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }
}
