@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {
  z-index: 100;
  position: fixed;
  inset: 0;
  @include displayFlex(nowrap, center, center);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $dark-grey;
    opacity: 0.6;
    z-index: -1;
  }
}
