@import '../../styles/variables.scss';

.modal {
  z-index: 100;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $dark-grey;
    opacity: 0.6;
    z-index: -1;
  }
}
