@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form {
  background-color: $white;
  padding: $spacing-20;
  opacity: 1;
  @include displayFlex(nowrap, center, center, column);
  gap: $spacing-12;
  width: 600px;
  height: 300px;
  max-width: 100%;
  border-radius: $spacing-8;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  &__title {
    font-size: $fs-1;
  }

  &__input {
    width: 99%;

    &__item {
      width: 99%;
    }
  }
}
