@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  &__button {
    @include displayFlex(nowrap, center, center);
    position: relative;

    &__badge {
      @include displayFlex(nowrap, center, center);
      position: absolute;
      width: 1rem;
      height: 1rem;
      font-size: 0.6rem;
      font-weight: bold;
      border-radius: 50%;
      color: white;
      background-color: $red;
      top: 0.6rem;
      right: 0.7rem;
    }

    &__icon {
      margin: 1rem 1rem 0 0;
    }
  }
}
