@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cart__item {
  @include displayFlex(nowrap, space-between, center);
  gap: $spacing-20;
  border: 1px solid $grey;
  padding: 1rem;
  border-radius: $spacing-8;

  &__info {
    @include displayFlex(nowrap, space-between, center);
    gap: $spacing-16;

    &__title {
      font-size: 1rem;
    }

    &__image {
      height: 50px;
      object-fit: contain;
    }
  }

  &__active {
    @include displayFlex(nowrap, flex-start, center);
    gap: $spacing-24;

    &__price {
      &__currency {
        font-size: 0.7rem;
        margin: 0 $spacing-4 0 0;
        color: $green;
      }

      &__int {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &__icon {
      height: 30px;
      width: 30px;
      border: 2px solid $red;
      color: $red;
      border-radius: $spacing-8;
      padding: 0;
      @include displayFlex(nowrap, center, center);
    }
  }
}
