@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  background-color: $green;
  color: $white;
  height: 150px;
  @include displayFlex(nowrap, space-between, center, row);
  padding: 1rem;

  &__button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 0.6rem 1rem;
    border-radius: $spacing-8;
  }
}
